.main {
    min-height: 75vh;
    padding-bottom: 2rem;
}

.containerMain {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.containerLogin {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    max-width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    & .form {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        & .containerDivCheckbox{
            display: flex;
            column-gap: 0.8rem;

            & .checkbox {
                width: 22px;
            }

            & .checkbox:active  {
                background-color: blue;
            }

            & .labelCheckbox {
                font-size: 1rem;
                font-weight: normal;
            }
        }
    }
}
