.header {
    background-color: #071429;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.header nav ul  {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem;
    
    & a {
        color: #ffffff;
        font-size: 1.2rem;

    }
}