.header {
    background-color: #071429;
    /* background-color: white; */
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    color: white;
}

.header nav ul  {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem;
    
    & a {
        color: #ffffff;
        font-size: 1.2rem;

    }
}


.picture-logo{
    display: flex;
    align-items: center;
    max-height: 200px;
}
.logoCine {
    background-color: transparent;
    height: auto;
    width: 120px;
    object-fit: fill !important;
    /* background-color: red; */
}

.name-logo {
    position: relative;
    left: -2px;
}