@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Roboto:wght@400;500;700&display=swap');

.container-movie{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 80px !important;
    width: 100%;

}
.image-gallery .image-gallery{
    width: 25%;
    position: relative;
    left: 50%;
    transform: translate(-27%,0%);
}


.image-gallery-slide img {
    object-position: center center; 
    height: 600px;
    object-fit: cover;
    /* background-color: red; */

}


.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  width: 55px; /* Ajusta este valor a tu gusto */
  height: 55px; /* Ajusta este valor a tu gusto */
}



.movie-title{
    font-size: 3.3rem;
    font-family: 'Nova Square', sans-serif;
    font-weight: bold;
    letter-spacing: 0.03rem;
    /* background-color: red; */
    width: 22rem;
}

.container-movie-info{

    height: 200px;
    position: absolute;
    top: 50%;
    left: 21%;
    transform: translate(0%,-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.main{
    min-height: 80vh;
    /* background-color: red; */
}