.peliculas-card {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  
  .movie-element:nth-child(3n+1) {
    margin-left: 0; 
  }
  
  .movie-element {
    width: 100%;
    position: relative;
  }
  .title{
    margin-top: 20px;
  }